<?xml version="1.0"?>
<!--
/**
 * Veralidity, LLC
 *
 * @package    Veralidity
 * @category   CardanoDbSync
 * @copyright  Copyright © 2024 Veralidity, LLC
 * @license    https://www.veralidity.com/license/
 * @author     Veralidity, LLC <veralidity@protonmail.com>
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Veralidity_Core::menu">
                    <resource id="Veralidity_Core::menu_integrations">
                        <resource id="Veralidity_CardanoDbSync::menu_integrations_cardanodbsync" title="Cardano DB Sync" sortOrder="0" />
                    </resource>
                </resource>
                <resource id="Magento_Backend::stores">
                    <resource id="Magento_Backend::stores_settings">
                        <resource id="Magento_Config::config">
                            <resource id="Veralidity_Core::config">
                                <resource id="Veralidity_CardanoDbSync::config_integrations_cardanodbsync" title="Cardano DB Sync" sortOrder="10" />
                            </resource>
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
