<?xml version="1.0"?>
<!--
/**
 * Veralidity, LLC
 *
 * @package    Veralidity
 * @category   CardanoDbSync
 * @copyright  Copyright © 2024 Veralidity, LLC
 * @license    https://www.veralidity.com/license/
 * @author     Veralidity, LLC <veralidity@protonmail.com>
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Veralidity\CardanoDbSync\Api\TestConnectionInterface" type="Veralidity\CardanoDbSync\Model\TestConnection" />
    <preference for="Veralidity\CardanoDbSync\Api\TestConnectionInterface2" type="Veralidity\CardanoDbSync\Model\TestConnection2" />
    <preference for="Veralidity\CardanoDbSync\Api\TestConnectionInterface3" type="Veralidity\CardanoDbSync\Model\TestConnection3" />
    <!-- <type name="Veralidity\CardanoDbSync\Model\ResourceModel\Module">
    <preference for="Veralidity\CardanoDbSync\Api\TestConnectionInterface2" type="Veralidity\CardanoDbSync\Model\TestConnection2" />
        <arguments>
           <argument name="connectionName" xsi:type="string">custom_setup</argument>
        </arguments>
    </type> -->
</config>
