<?xml version="1.0"?>
<!--
/**
 * Veralidity, LLC
 *
 * @package    Veralidity
 * @category   CardanoDbSync
 * @copyright  Copyright © 2024 Veralidity, LLC
 * @license    https://www.veralidity.com/license/
 * @author     Veralidity, LLC <veralidity@protonmail.com>
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <veraliditycardanodbsync>
            <general>
                <enable>0</enable>
                <network></network>
            </general>
            <connection>
                <preview>
                    <port>5432</port>
                </preview>
                <preprod>
                    <port>5432</port>
                </preprod>
                <mainnet>
                    <port>5432</port>
                </mainnet>
            </connection>
        </veraliditycardanodbsync>
    </default>
</config>