<?xml version="1.0"?>
<!--
/**
 * Veralidity, LLC
 *
 * @package    Veralidity
 * @category   CardanoDbSync
 * @copyright  Copyright © 2024 Veralidity, LLC
 * @license    https://www.veralidity.com/license/
 * @author     Veralidity, LLC <veralidity@protonmail.com>
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="veraliditycardanodbsync" translate="label" sortOrder="80" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Cardano DB Sync PostgreSQL</label>
            <tab>veralidity</tab>
            <resource>Veralidity_CardanoDbSync::config_integrations_cardanodbsync</resource>
            <group id="html" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Cardano DB Sync PostgreSQL</label>
                <field id="html" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <frontend_model>Veralidity\CardanoDbSync\Block\Adminhtml\System\Config\HtmlBlock</frontend_model>
                </field>
            </group>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General Configuration</label>
                <field id="enable" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Enable Module</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="network" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Cardano Network</label>
                    <source_model>Veralidity\CardanoDbSync\Model\Adminhtml\Source\Network</source_model>
                </field>
            </group>
            <group id="connection" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>PostgreSQL Connections</label>
                <group id="preview" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Cardano Network: Preview</label>
                    <field id="host" translate="label" type="text" sortOrder="0" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Database Host</label>
                    </field>
                    <field id="port" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Database Port</label>
                    </field>
                    <field id="dbname" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Database Name</label>
                    </field>
                    <field id="username" translate="label" type="password" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Database Username</label>
                    </field>
                    <field id="password" translate="label" type="password" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Database Password</label>
                    </field>
                    <field id="test_connect_wizard" translate="button_label" sortOrder="50" showInDefault="1" showInWebsite="0" showInStore="0">
                        <label/>
                        <button_label>Test Connection</button_label>
                        <frontend_model>Veralidity\CardanoDbSync\Block\Adminhtml\System\Config\TestPreviewConnection</frontend_model>
                        <!-- <depends>
                            <field id="network">preview</field>
                        </depends> -->
                    </field>
                </group>
                <group id="preprod" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Cardano Network: Preprod</label>
                    <field id="host" translate="label" type="text" sortOrder="0" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Database Host</label>
                    </field>
                    <field id="port" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Database Port</label>
                    </field>
                    <field id="dbname" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Database Name</label>
                    </field>
                    <field id="username" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Database Username</label>
                    </field>
                    <field id="password" translate="label" type="password" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Database Password</label>
                    </field>
                    <field id="test_connect_wizard" translate="button_label" sortOrder="50" showInDefault="1" showInWebsite="0" showInStore="0">
                        <label/>
                        <button_label>Test Connection</button_label>
                        <frontend_model>Veralidity\CardanoDbSync\Block\Adminhtml\System\Config\TestPreprodConnection</frontend_model>
                        <!-- <depends>
                            <field id="network">preview</field>
                        </depends> -->
                    </field>
                </group>
                <group id="mainnet" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Cardano Network: Mainnet</label>
                    <field id="host" translate="label" type="text" sortOrder="0" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Database Host</label>
                    </field>
                    <field id="port" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Database Port</label>
                    </field>
                    <field id="dbname" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Database Name</label>
                    </field>
                    <field id="username" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Database Username</label>
                    </field>
                    <field id="password" translate="label" type="password" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Database Password</label>
                    </field>
                    <field id="test_connect_wizard" translate="button_label" sortOrder="50" showInDefault="1" showInWebsite="0" showInStore="0">
                        <label/>
                        <button_label>Test Connection</button_label>
                        <frontend_model>Veralidity\CardanoDbSync\Block\Adminhtml\System\Config\TestMainnetConnection</frontend_model>
                        <!-- <depends>
                            <field id="network">preview</field>
                        </depends> -->
                    </field>
                </group>
            </group>
        </section>
    </system>
</config>
